tqdm
numpy
scipy
librosa
SoundFile
matplotlib
scikit_learn
cupy-cuda112
torch>=1.7.0
torchaudio>=0.7.0
torchvision>=0.8.0
pynvrtc>=8.0
pysptk>=0.1.16
webrtcvad>=2.0.10
python_speech_features>=0.6
git+https://github.com/santi-pdp/ahoproc_tools.git
git+https://github.com/s3prl/pytorch-qrnn
git+https://github.com/detly/gammatone
git+https://github.com/pswietojanski/kaldi-io-for-python.git
